<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <nav>
      <menu>
        <form id="frmMenu" name="frmMenu" method="post" action="/">
            <button id="btnGoal" type="submit" name="menu" value="savingGoals" class="menuButton">Saving Goals</button>
            <!--<button id="btnDownpayment" type="submit" name="menu" value="loanDownpayment" class="menuButton">Loan downpayment</button>-->
        </form>
      </menu>
    </nav>
  </head>
  <body>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
