<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="headline-box">Basic</div>
        <table>
          <tr>
            <td class="tr-label-basic">Current:</td>
            <td class="tr-textbox-basic"><input id="txtCurrentBalance" type="text" class="input-basic field" /></td>
          </tr>
          <tr>
            <td class="tr-label-basic">Goal:</td>
            <td class="tr-textbox-basic"><input id="txtGoal" type="text" class="input-basic field" /></td>
          </tr>
          <tr>
            <th class="tr-label-basic">Remaining:</th>
            <th class="tr-textbox-basic"><div id="txtRemainingBalance" class="field-result field"></div></th>
          </tr>
        </table>
      </div>
      <div class="container">
        <div class="headline-box">Loaning the rest</div>
        <table>
          <tr>
            <td class="tr-label-basic">Interest:</td>
            <td class="tr-textbox-basic"><input id="txtInterest" type="text" class="input-loan field" /></td>
          </tr>
          <tr>
            <td class="tr-label-basic">Years:</td>
            <td class="tr-textbox-basic"><input id="txtYears" type="text" class="input-loan field" /></td>
          </tr>
          <tr>
            <th class="tr-label-basic">Monthly:</th>
            <th class="tr-textbox-basic"><div id="txtMonthly" class="field-result field"></div></th>
          </tr>
          <tr>
            <th class="tr-label-basic">Total cost:</th>
            <th class="tr-textbox-basic"><div id="txtTotalCost" class="field-result field"></div></th>
          </tr>
        </table>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/savingGoals.js"></script>
  </foot>
</html>
