<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="headline-box">Basic</div>
        <div class="row">
          <div class="col-35">Current:</div>
          <div class="col-60"><input id="txtCurrentBalance" type="text" inputmode="numeric" class="input-basic field" /></div>
        </div>
        <div class="row">
          <div class="col-35">Goal:</div>
          <div class="col-60"><input id="txtGoal" type="text" inputmode="numeric" class="input-basic field" /></div>
        </div>
        <div class="row">
          <div class="col-35">Remaining:</div>
          <div class="col-60"><input id="txtRemainingBalance" type="text" inputmode="numeric" class="field-result field" readonly tabindex="-1"/></div>
        </div>
      </div>
      <div class="container">
        <div class="headline-box">Loaning the rest</div>
        <div class="row">
          <div class="col-35">Interest:</div>
          <div class="col-60"><input id="txtInterest" type="text" inputmode="numeric" class="input-loan field" /></div>
        </div>
        <div class="row">
          <div class="col-35">Years:</div>
          <div class="col-60"><input id="txtYears" type="text" inputmode="numeric" class="input-loan field" /></div>
        </div>
        <div class="row">
          <div class="col-35">Monthly:</div>
          <div class="col-60"><input id="txtMonthly" type="text" inputmode="numeric"class="field-result field" readonly tabindex="-1"/></div>
        </div>
        <div class="row">
          <div class="col-35">Total cost:</div>
          <div class="col-60"><input id="txtTotalCost" type="text" inputmode="numeric" class="field-result field" readonly tabindex="-1"/></div>
        </div>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/savingGoals.js"></script>
  </foot>
</html>
