<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <section>
      <div class="container">
        <h2>Basic</h2>
        <table>
          <tr>
            <td class="text-label-basic">Current:</td>
            <td><input id="txtCurrentBalance" type="text" class="input-basic field" /></td>
          </tr>
          <tr>
            <td class="text-label-basic">Goal:</td>
            <td><input id="txtGoal" type="text" class="input-basic field" /></td>
          </tr>
          <tr>
            <th class="text-label-basic">Remaining:</th>
            <th><div id="txtRemainingBalance" class="field-result field"></div></th>
          </tr>
        </table>
      </div>
      <div class="container">
        <h2>Loaning the rest</h2>
        <table>
          <tr>
            <td class="text-label-basic">Interest:</td>
            <td><input id="txtInterest" type="text" class="input-loan field" /></td>
          </tr>
          <tr>
            <td class="text-label-basic">Years:</td>
            <td><input id="txtYears" type="text" class="input-loan field" /></td>
          </tr>
          <tr>
            <th class="text-label-basic">Monthly:</th>
            <th><div id="txtMonthly" class="field-result field"></div></th>
          </tr>
          <tr>
            <th class="text-label-basic">Total cost:</th>
            <th><div id="txtTotalCost" class="field-result field"></div></th>
          </tr>
        </table>
      </div>
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/savingGoals.js"></script>
  </foot>
</html>
