html, nav, menu, head, body, foot, form {
  margin: 0;
  padding: 0;
}
html {
  background: rgba(150, 150, 160, 1);
}
nav, body {
  text-align: center;
}
input, button, .headline-box, .field-result {
  border-radius: 3px;
}
input, button, .headline-box, .field-result, .tr-label-basic {
  font-family: Rajdhani;
  border: none;
  color: white;
}
button, .headline-box, .tr-label-basic {
  padding: 10px;
}
input, .headline-box, .field-result, .tr-label-basic {
  margin: 5px;
}
.headline-box {
  border: 1px solid white;
  padding: 5px;
}
input, .field-result {
  outline: none;
  text-align: left;
}
input {
  background: rgba(150, 150, 160, 1);
}
.field-result {
  background: rgba(150, 150, 160, .2);
}
button {
  cursor: pointer;
}
.menuButton {
  display: block;
  width: 100%;
}
.container, button {
  background: rgba(80, 80, 90, 1);
}
.container {
  padding: 3px;
  margin: 5px;
  display: block;
}
.tr-label-basic {
  text-align: right;
}
/* === Mobile === */
.button-mobile {
  font-size: 4em;
}
.menu-mobile {
  display: block;
}
.section-mobile {
  display: block;
}
.table-mobile {
  font-size: 3em;
}
.container-mobile {
  /* */
}
.field-mobile {
  width: 100%;
  font-size: 1em;
  padding: 0.25em;
}
.headline-box-mobile {
  font-size: 4em;
}
.tr-label-mobile {
  width: 35%;
}
.tr-textbox-mobile {
  width: 60%;
}
/* === Desktop === */
.button-desktop {
  margin: 5px;
}
.menu-desktop {
  display: inline-block;
}
.section-desktop {
  display: inline-block;
}
.table-desktop {
  font-size: 18px;
}
.container-desktop {
  border-radius: 3px;
}
.field-desktop {
  width: 120px;
  font-size: 20px;
  padding: 10px;
}
.headline-box-desktop {
  font-size: 20px;
}
.tr-label-desktop {
  width: 90px;
}
.tr-textbox-desktop {

}
