html, nav, menu, head, body, foot, form {
  margin: 0;
  padding: 0;
}
html, input {
  background: rgba(150, 150, 160, 1);
}
nav, body {
  text-align: center;
}
button {
  cursor: pointer;
}
input {
  outline: none;
  text-align: left;
}
input, button, .headline-box {
  border-radius: 3px;
  font-family: Rajdhani;
  border: none;
  color: white;
  margin: 5px;
}
button, .headline-box {
  padding: 10px;
}
.headline-box {
  border: 1px solid white;
}
.field-result {
  background: rgba(150, 150, 160, .2);
}
.menuButton {
  display: block;
  width: 100%;
}
.container, button {
  background: rgba(80, 80, 90, 1);
}
.container {
  padding: 3px;
  margin: 5px;
  display: block;
}
.row {
  display: block;
  color: white;
  font-family: Rajdhani;
}
.col-40, .col-60 {
  display: inline-block;
}
.col-40 {
  width: 35%;
  text-align: right;
}
.col-60 {
  width: 55%;
}
/* === Mobile === */
.button-mobile {
  font-size: 5em;
}
.menu-mobile {
  display: block;
}
.section-mobile {
  display: block;
}
.container-mobile {
  /* */
}
.field-mobile {

  font-size: 1em;
  padding: 0.25em;
}
.headline-box-mobile {
  font-size: 4em;
}
.row-mobile {
  font-size: 3em;
}
/* === Desktop === */
.button-desktop {
  margin: 5px;
}
.menu-desktop {
  display: inline-block;
}
.section-desktop {
  display: inline-block;
}
.container-desktop {
  border-radius: 3px;
  width: 300px;
}
.field-desktop {
  width: 120px;
  font-size: 20px;
  padding: 10px;
}
.headline-box-desktop {
  font-size: 20px;
}
.row-desktop {
  font-size: 18px;
}
