/* === Mobile === */
.button-mobile {
  font-size: 5em;
}
.menu-mobile {
  display: block;
}
.section-mobile {
  display: block;
}
.container-mobile {
  /* */
}
.field-mobile {

  font-size: 1em;
  padding: 0.25em;
}
.headline-box-mobile {
  font-size: 4em;
}
.row-mobile {
  font-size: 3em;
}
/* === Desktop === */
.button-desktop {
  margin: 5px;
  font-size: 1.5em;
  width: 12em;
}
.menu-desktop {
  display: inline-block;
}
.section-desktop {
  display: inline-block;
}
.container-desktop {
  border-radius: 3px;
  width: 300px;
}
.field-desktop {
  width: 120px;
  font-size: 20px;
  padding: 10px;
}
.headline-box-desktop {
  font-size: 20px;
}
.row-desktop {
  font-size: 18px;
}
